/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    display: none;
}

body[data-theme='light'] {
  --background-color: white;
  --text-color: black;
  --card-background-color: #f9f9f9;
  --navbar-background-color: white;
  --button-background-color: #007bff;
  --button-text-color: white;
}

body[data-theme='dark'] {
  --background-color: #121212;
  --text-color: #e0e0e0;
  --card-background-color: #1e1e1e;
  --navbar-background-color: #333;
  --button-background-color: #007bff;
  --button-text-color: white;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.card {
  background-color: var(--card-background-color);
  color: var(--text-color);
}

.navbar {
  background-color: var(--navbar-background-color);
  color: var(--text-color);
}

.button {
  background-color: var(--button-background-color);
  color: var(--button-text-color);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}